.slide2content{
    text-decoration: none;
    color: black;
    
    
}
*{
    margin: 0;
    padding: 0;
}.btn{
    background-color: blueviolet;
    text-align: right;
    color: white;
}
.skip{
    color: black;
    display: inline-block;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid blueviolet;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-group button{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    background-color:  blueviolet;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
} 
.account{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.or{
    font-size:20px ;
}
.sign{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
}
.content{
    text-align: center;
    
}
.loginh2{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800px;
}