h1{
    color:rgba(0,0,255,0.2);
}
body{background:coral;
}
.border{
    border-width: 5px;
    border-color: rgba(0,0,255,0.2);
    border-style: dashed;
    border-radius: 8px;
    margin: 50px;
    padding: 30px;
    outline border:10px;
}